{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Checkout</h1>
        <div class="order-info">
            <h3 class="text-center">Inserisci i dati per il tuo ordine</h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>€{{ item.total_price }}</span>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <form action="." method="post" class="order-form">
            {{ form|crispy }}
            <p><input class="btn btn-primary btn-sm btn-block" type="submit" value="Conferma ordine"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}