{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
    </style>


    <div class="center">
    <ul class="thumbnails">
    <li class="span4">
    <div class="thumbnail">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Richiesta di nuova categoria</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Invia</button>
            </div>
        </form>
    </div>
    </div>
    </li>
    </ul>
    </div>
{% endblock content %}