{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Search</h1>
    <br>
    <form method='GET'>
        <p>
            {{ form.nome }}
            {{ form.material }}
            {{ form.min_price }}
            {{ form.max_price }}
            <input class="button" type='submit' value="Search">
        </p>
        <br>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Immagine</th>
                <th>Nome Prodotto</th>
                <th>Fornitore</th>
                <th>Categoria</th>
                <th>Materiale</th>
                <th>Prezzo</th>
                <th>Dettagli</th>
                <th>Book</th>
            </tr>
            </thead>
            {% for s in search_list %}
                <tr>
                    <td> <img src="{{ object.image.url }}" class="card-img-top" alt="..."></td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.owner }}</td>
                    <td>{{ s.categoria }}</td>
                    <td>{{ s.tipo_materiale }}</td>
                    <td>{{ s.price }} </td>
                    <td> <a href="{% url 'prod:products-detail' s.pk %}" class="btn btn-light" type="button">Dettagli</a></td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}